{% if null === app.user %}
    <li class="nav-item">
        <a class="nav-link p-3" href="{{ path('user_login') }}">
            {{ 'Login'|trans }}
        </a>
    </li>
{% elseif enum('App\\Entity\\User\\Enums\\UserTypes').User === app.user.getUserType %}
    {% if is_granted('ROLE_ACTIVE_MEMBER') or is_granted('ROLE_BOARD') %}
        {% set activityActive = is_module_active(['activity']) %}
        <li class="nav-item dropdown {{ activityActive ? 'active default open' : '' }}">
            <a class="nav-link p-3 dropdown-toggle"
               href="#" data-bs-toggle="dropdown" aria-expanded="{{ activityActive ? 'true' : 'false' }}">
                {{ 'Activities'|trans }}
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{{ path('admin/activities/index') }}">
                        {{ 'Overview'|trans }}
                    </a>
                </li>
                {% if is_granted('ROLE_BOARD') %}
                    <li>
                        <a class="dropdown-item" href="{{ path('admin/activities/approvals/index') }}">
                            {{ 'Approvals'|trans }}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ path('admin/activities/labels/index') }}">
                            {{ 'Labels'|trans }}
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a class="dropdown-item" href="{{ path('admin/activities/calendar/index') }}">
                        {{ 'Option Calendar'|trans }}
                    </a>
                </li>
            </ul>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ACTIVE_MEMBER') or is_granted('ROLE_BOARD') %}
        <li class="nav-item {{ is_module_active(['decision', 'adminbody']) ? 'active' }}">
            <a class="nav-link p-3" href="{{ path('admin/decision/bodies/index') }}">
                {{ 'Bodies'|trans }}
            </a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_COMPANY_ADMIN') or is_granted('ROLE_BOARD') %}
        {% set companyActive = is_module_active(['career']) %}
        <li class="nav-item dropdown {{ companyActive ? 'active default open' : '' }}">
            <a class="nav-link p-3 dropdown-toggle"
               href="#" data-bs-toggle="dropdown" aria-expanded="{{ companyActive ? 'true' : 'false' }}">
                {{ 'Career'|trans }}
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{{ path('admin/career/index') }}">
                        {{ 'Companies'|trans }}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('admin/career/approvals/index') }}">
                        {{ 'Approvals'|trans }}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('admin/career/vacancies/categories/index') }}">
                        {{ 'Categories'|trans }}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('admin/career/vacancies/labels/index') }}">
                        {{ 'Labels'|trans }}
                    </a>
                </li>
            </ul>
        </li>
    {% endif %}
    {% if is_granted('ROLE_BOARD') %}
        {% set educationActive = is_module_active(['education']) %}
        <li class="nav-item dropdown {{ educationActive ? 'active default open' : '' }}">
            <a class="nav-link p-3 dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="{{ educationActive ? 'true' : 'false' }}">
                {{ 'Education'|trans }}
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{{ path('admin/education/index') }}">
                        {{ 'Courses'|trans }}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('admin/education/exams/upload') }}">
                        {{ 'Upload exams'|trans }}
                    </a>
                </li>
            </ul>
        </li>
        {% set frontpageActive = is_module_active(['frontpage']) %}
        <li class="nav-item dropdown {{ frontpageActive ? 'active default open' : '' }}">
            <a class="nav-link p-3 dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="{{ educationActive ? 'true' : 'false' }}">
                {{ 'Frontpage'|trans }}
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{{ path('admin/frontpage/news/index') }}">
                        {{ 'News'|trans }}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('admin/frontpage/polls/index') }}">
                        {{ 'Polls'|trans }}
                    </a>
                </li>
            </ul>
        </li>
        {% set photoActive = is_module_active(['photo']) %}
        <li class="nav-item {{ photoActive ? 'active' : '' }}">
            <a class="nav-link p-3" href="{{ path('admin/photos/index') }}">
                {{ 'Photos'|trans }}
            </a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set userActive = is_module_active(['user']) %}
        <li class="nav-item dropdown {{ userActive ? 'active default open' : '' }}">
            <a class="nav-link p-3 dropdown-toggle"
               href="#" data-bs-toggle="dropdown" aria-expanded="{{ userActive ? 'true' : 'false' }}">
                {{ 'Users'|trans }}
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{{ path('admin/users/api/index') }}">
                        {{ 'API Users'|trans }}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('admin/users/index') }}">
                        {{ 'Users'|trans }}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('admin/users/company-users/index') }}">
                        {{ 'Company Users'|trans }}
                    </a>
                </li>
            </ul>
        </li>
    {% endif %}
{% endif %}
<hr class="text-white-50 mt-auto mb-0">
<li class="nav-item">
    {% set commit = app.request.server.get('GIT_COMMIT') %}
    <a class="nav-link p-3" target="_blank"
       href="https://github.com/gewis/gewisweb/commit/{{ commit }}">
        <small><i class="fab fa-github"></i> {{ commit|slice(0, 7) }}</small>
    </a>
</li>
