{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'Confirm your sign-up'|trans|page_title }}{{ parent() }}{% endblock %}

{% block contents %}
    <div class="row justify-content-center">
        <div class="col col-sm-10 col-lg-6 col-xl-4">
            <h1 class="h3 mb-1">{{ 'Confirm your sign-up'|trans }}</h1>
            <p class="text-muted">
                <a href="{{ path('activity/view', {'activity': activity.getId}) }}">{{ activity_title(activity) }}</a>
                &middot;
                {{ signupList.getName|localise_text }}
            </p>

            <div class="panel">
                <div class="panel-body">
                    <p>{{ 'Click the button below to confirm your sign-up for this activity.'|trans }}</p>
                    <form method="post" action="{{ path('activity/external_signup_confirm', {'token': token}) }}">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('external_signup_verify') }}">
                        <button type="submit" class="btn btn-gewis-primary">
                            {{ 'Confirm my sign-up'|trans }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
