{% extends 'layout-sidebar.html.twig' %}

{% block page_title %}{{ 'Photos'|trans|page_title }}{{ member.getFullName|page_title }}{{ parent() }}{% endblock %}

{% set isSelf = is_granted(member.getSelfRole) %}

{% block sidebar_label %}{{ member.getFullName }}{% endblock %}
{% block sidebar %}
    {% include 'partials/member-sidebar.html.twig' with {
        'member': member,
        'isSelf': isSelf,
        'activeRoute': 'photos',
    } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/photoswipe/dist/photoswipe.min.css') }}">
{% endblock %}

{% block contents %}
    <h1 class="h3 mb-4">{{ 'Photos'|trans }}</h1>

    {% if isSelf %}
        {% embed 'partials/photo/gallery.html.twig' with {
            manifest_url: path('photo/member_manifest', { member: member.lidnr }),
            selectable: true,
            empty_message: 'You have not been tagged in any photos yet.'|trans,
        } %}
            {% block gallery_hint %}{{ 'Hidden photos are greyed out and only you see them here. Choose what others see under Settings.'|trans }}{% endblock %}
            {% block gallery_actions %}
                <form method="post" id="member-photo-form" data-gallery-target="selectionForm" class="d-flex gap-2 mb-0">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('photo_hidden') }}">
                    <button type="submit" class="btn btn-sm btn-outline-secondary"
                            formaction="{{ path('photo/hidden_hide') }}">
                        <i class="fa-solid fa-eye-slash"></i> {{ 'Hide selected'|trans }}
                    </button>
                    <button type="submit" class="btn btn-sm btn-outline-secondary"
                            formaction="{{ path('photo/hidden_unhide') }}">
                        <i class="fa-solid fa-eye"></i> {{ 'Unhide selected'|trans }}
                    </button>
                </form>
            {% endblock %}
        {% endembed %}
    {% else %}
        {% include 'partials/photo/gallery.html.twig' with {
            manifest_url: path('photo/member_manifest', { member: member.lidnr }),
            empty_message: '%name% has not been tagged in any photos yet.'|trans({ '%name%': member.getFullName }),
        } only %}
    {% endif %}
{% endblock %}
