{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'Photos of the Week'|trans|page_title }}{{ parent() }}{% endblock %}

{# Photos fill the full width of the window, like a regular album. #}
{% block container_class %}container-fluid{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/photoswipe/dist/photoswipe.min.css') }}">
{% endblock %}

{% block contents %}
    <div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mb-4">
        <div>
            <h1 class="mb-0">{{ 'Photos of the Week in'|trans }} {{ year }}/{{ year + 1 }}</h1>
            {% if startDate is not null and endDate is not null %}
                <p class="small text-muted mb-1">{{ date_range(startDate, endDate, time = false, year = 'auto') }}</p>
            {% endif %}
        </div>
        <a class="btn btn-outline-secondary btn-sm" href="{{ path('photo/weekly') }}">
            <span class="fa-solid fa-arrow-left me-1"></span>{{ 'Back to all years'|trans }}
        </a>
    </div>

    {% import 'partials/photo/gallery.html.twig' as gallery %}
    <div {{ gallery.attributes(path('photo/weekly_manifest', { year: year }), false) }}>
        {{ gallery.grid() }}
    </div>
{% endblock %}
