{% extends 'layout-admin.html.twig' %}

{% block page_title %}{{ 'Labels'|trans|page_title }}{{ 'Vacancies'|trans|page_title }}{{ 'Career'|trans|page_title }}{{ parent() }}{% endblock %}

{% block admin_breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('admin/career/index') }}">
            {{ 'Companies'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('admin/career/vacancies/index') }}">
            {{ 'Vacancies'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('admin/career/vacancies/labels/index') }}">
            {{ 'Labels'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {{ 'Overview'|trans }}
    </li>
{% endblock %}

{% block contents %}
    <div class="row">
        <div class="col-md-12">
            {# TODO #}
        </div>
    </div>
{% endblock %}
