{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'Reset your password'|trans }}{% endblock %}
{% set is_user = enum('App\\Entity\\User\\Enums\\UserTypes').User === type %}
{% set submit_route = is_user ? 'user_password_reset' : 'company_user_password_reset' %}

{% block contents %}
<div class="row justify-content-center">
    <div class="col col-sm-10 col-lg-6 col-xl-4">
        <div class="panel">
            <div class="panel-heading">
                <h3>{{ 'Reset your password'|trans }}</h3>
            </div>
            <div class="panel-body">
                {{ form_start(form, { 'action': path(submit_route), 'method': 'POST' }) }}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}

                    <div class="d-grid">
                        <button class="btn btn-gewis-primary" type="submit">
                            {{ 'Set new password'|trans }}
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
