{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'Reset your password'|trans }}{% endblock %}
{% set is_user = enum('App\\Entity\\User\\Enums\\UserTypes').User === type %}

{% block contents %}
<div class="row justify-content-center">
    <div class="col col-sm-10 col-lg-6 col-xl-4">
        <div class="panel">
            <nav class="nav nav-tabs nav-fill">
                <a href="{{ path('user_forgot_password') }}" class="nav-link {{ is_user ? 'active' : '' }}">
                    {{ 'Members'|trans }}
                </a>
                <a href="{{ path('company_user_forgot_password') }}" class="nav-link disabled {{ (not is_user) ? 'active' : '' }}">
                    {{ 'Companies'|trans }}
                </a>
            </nav>
            <div class="panel-heading">
                <h3>{{ 'Reset your password'|trans }}</h3>
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                    {% if is_user %}
                        {{ form_row(form.membershipNumber) }}
                    {% endif %}
                    {{ form_row(form.email) }}
                    {{ form_row(form.security) }}

                    {{ form_rest(form) }}

                    <div class="d-grid">
                        <button class="btn btn-gewis-primary" type="submit">
                            {{ 'Send password reset email'|trans }}
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
